$-color-black: rgb(0, 0, 0);
$-color-grey: rgb(80, 80, 80);
$-color-grey-dark: rgb(40, 40, 40);
$-color-transparent: rgba(0, 0, 0, 0);

$color-nav-link: $-color-grey;
$color-nav-link-underline: $-color-transparent;
$color-nav-link-active: $-color-black;
